body {
	margin:0 0;
	padding:3 3;
	font-family: OCR A Std, monospace;
	font-size: 18px;
}

a {
	color: #191e2e;
}

p {
	display: inline;
}

form {
	display: inline-block;
	padding-top: 5px;
}

.navbar {
	width: 100%;
	height: 30px;
	top: 0;
	left: 0;
	background-color: #191e2e;
	display: block;
	float: left;
}

.navbar a {
	color: white;
	font-size: 20px;
	font-weight: bold;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	height: 30px;
	float: left;
	text-align: center;
	text-decoration: none;
}

.navbar a.right {
	float: right;
}

.navbar a:hover {
	background-color: #4287f5;
	color: white;
}

.navbar a.active {
	pointer-events: none;
	padding-left: 0;
	padding-right: 0;
	width: 45%;
	background-color: #04041a;
	color: white;
}

.wrap {
	color: white;
	position: absolute;
	top: 30px;
	right: 0;
	left: 0;
	bottom: 0;
	height: calc(100%-30px);
}

.fleft {
	display: block;
	float: left;
	padding-left: 0;
	padding-right: 0;
	background-color: #04041a;
	height: 100%;
	width: 45%;
	top: 30px;
	bottom: 0;
	left: 0;
}

.fright {
	display: block;
	float: right;
	background-image:url(../images/background/background.png);
	background-repeat:no-repeat;
	background-size:cover;
	height: 100%;
	width: 55%;
	top: 30px;
	bottom: 0;
	right: 0;
}

.box {
	width: 80%;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	padding: 1em;
}

.buttonstyle {
	background: #45526b;
	color: #ffffff;
	width: 200px;
	font-family: Brush Script MT, Cursive;
	font-size: 18px;
}

.buttonstyle:hover {
	background: #4287f5;
	color: #9dff94;
}
